<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> História da Fatec Sorocaba</title>
</head>

<body>
    <p> A fatec contem diversos professores, com graduação em excelentes faculdades.
    </p>
    <br>
    <br>
    <p>
        Isso é um atrativo para os estudantes que buscam uma boa faculdade.
    </p>
</body>

</html>